*{
    margin: 0 auto;
    padding: 0  ;
    box-sizing: border-box;
}


div{
    color:#05a387;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    width: 50%;
    margin-top: 6% ;
    margin-bottom: 0 ;
    letter-spacing: 1.6px;
   

}
.texto{
font-size: 22px ;
font-weight: 450 ;
}
#menu-horizontal ul,li,a{
    list-style: none ;
    padding: 0 ;
    font-size: 15px ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px ;
    text-decoration: none;

    

}
body{
    background-color: rgb(241, 248, 246);
}
texto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#menu-horizontal ul{
    display: inline;
    margin-left: 25%;

    
}
#menu-horizontal li{
    display: inline;

}
#menu-horizontal a{
    display: inline-block;
    color: rgb(253, 253, 253);

}
#menu-horizontal a:hover{
color: #05a387;
    transition: .7s;
}
nav{
    background-color:#05a387;
    width: 100% ;
  margin-top: 0%;

}


img{
    margin-top: 2%;

}
section > img{
    margin-top: 6%;
    border-radius: 60px;
    border-color: #05a387;
    border-width: 100% ;
}

footer{
    background-color: #1bd8b5;
    
}

footer > ul > li > img{
    width: 40px;
}
footer > ul > li{
    display: inline;

}
ul{
    margin-left: 38%;
}
.galeria{
    background-color: #05a387;
    width: 30%;
    margin-right: 70%;
    border-radius: 15px;
    margin-bottom: 30px;
    object-fit: contain;
}
h3{
color: #05a387;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 3%;
}
div> img{
    object-fit: contain;
}