*{
    margin: 0;
    padding: 0;
}
#cabecalho{
    padding: 0 60px 0 0;
    height: 50px;
    background-color:mediumvioletred ;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.texto-cabecalho{
    padding-right: 85%;
    font-size: 23px;
    margin-left: 2%;
    font-weight: 800;
}

#bolinho-cabecalho{
    padding-left: 2%;
    height: 30px;

}
.principal{
    display:flex

}
#menu-lateral{
    height: 600px;
    width: 35%;
    background-color:#f2d0e0;
    display: flex;
    flex-direction: column;
    
}
div{
    display:flex;
    flex-direction: row;
    margin:20px 20px 20px 20px;
   ;
}


.img-menu-lateral{
    height: 25px;
}

.txt-m-lateral{
margin: 0 60px 0 0;
}
.conteudo-m-lateral{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
 #card {
display:flex;
flex-direction: column;
justify-content: center;
margin:0;
align-items: center;

}
.conteudo-card{
    display: flex;
   flex-wrap: wrap;
    flex-direction:row;
  
}
 
.imagem-card{
    width: 220px;
    margin: 2px 2px 2px 2px;
    border: 2px solid darkgray;
}
h3{
    font-weight:bold ;
}
p{
    font-size: 15px;
   
}
.rodape{
    background-color: mediumvioletred;
  position: absolute;
    width: 100%;
    height: 50px;
    margin-bottom: 0%;
}
footer {
display:flex;
justify-content: center;
}


